@model SteamGameStatistics.Models.Steam.User

@{
    ViewData["Title"] = "SteamUser";
}

@if (Model != null)
{
    <h1>@Model.Personaname</h1>

    <div>
        <hr />
        <img src="@Url.Content(Model.Avatarfull.AbsoluteUri)" alt="Image" />

        <dl class="row">
            <dt class="col-sm-2">
                Steam id
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Steamid)
            </dd>

            <dt class="col-sm-2">
                Country
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Loccountrycode)
            </dd>
        </dl>
    </div>
}
else
{
    <h1>No user found.</h1>
}