@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn more about steam game statistics from <a href="https://github.com/Smellen">Github</a>.</p>        
    </div>
