
@{
    ViewData["Title"] = "Index";
}

<h1>Steam Index</h1>

<div>
    @Html.ActionLink("Get Player", "GetPlayer", "Steam", htmlAttributes: new { @class = "btn btn-labeled btn-info" })

    @Html.ActionLink("Get recently played games", "GetRecentlyPlayedGames", "Steam", htmlAttributes: new { @class = "btn btn-labeled btn-info" })

    @Html.ActionLink("All the games!", "DisplayAllGames", "Steam", new { sortOrder = "ac-count" }, htmlAttributes: new { @class = "btn btn-labeled btn-info" })

    @Html.ActionLink("Load new games again", "LoadAllGames", "Steam", htmlAttributes: new { @class = "btn btn-labeled btn-info" })
</div>

